body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 25px;
  padding-top: 5px;
}

h4 {
  font-size: 18px;
}
form {
  text-align: right;
}
ul {
  list-style-type: none;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-top: 0;
}

a:link {
  text-decoration: none;
}
.units {
  font-size: 20px;
  font-weight: bold;
}

.container {
  border-top: 150px;
  border: solid;
  border-radius: 5px;
  margin-top: 3%;
  max-width: 720px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.btn-primary {
  border: 1px solid black;
  font-size: 12px;
}
.week-icons {
  font-size: 30px;
  margin: 15px;
  color: rgb(233, 168, 48);
}
.gps-icon {
  font-size: 30px;
  margin: 0 0 10px 30px;
  color: rgb(7, 125, 237);
}
.gps-icon:hover {
  color: rgb(233, 168, 48);
  transition: ease-in-out, 200ms;
  cursor: pointer;
}

.card {
  border: 2px solid;
  background: #79c2d0;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.7;
}
.card-text {
  font-size: 16px;
  text-align: center;
}
.current-temp {
  font-family: "Rubik", sans-serif;
  font-size: 90px;
}

.temp-details {
  font-size: 16px;
  padding-left: 30px;
}
.high-low {
  font-weight: bold;
  text-align: left;
}
.divider {
  border-bottom: 2px solid black;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.forecast-min {
  opacity: 0.6;
}

#current-temp {
  font-size: 100px;
  text-align: center;
}

#input-city {
  font-size: 15px;
}
